@page
@model MicroShop.View.Pages.Cart.IndexModel
@{
}


@if (Model.Cart?.CartItems is not null && Model.Cart.CartItems.Length > 0)
{
    <div class="d-flex justify-content-start flex-wrap"
         style="gap:1rem;">
        @foreach (var cartItem in Model.Cart.CartItems)
        {
            <form method="post" class="card shadow rounded" style="width: 200px;">
                <input type="hidden" asp-for="ProductId" value="@cartItem.ProductId">

                <img src="@cartItem.ProductImageUrl"
                     class="card-img-top"
                     alt="@cartItem.ProductName"
                     style="aspect-ratio: 1/1">

                <div class="card-body">
                    <p class="card-title">@cartItem.ProductName</p>
                    <p class="card-text">@cartItem.ProductPrice</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary" type="submit" asp-page-handler="Delete">-</button>
                        <div>Quantity: @cartItem.Quantity</div>
                        <button class="btn btn-outline-primary" type="submit" asp-page-handler="Add">+</button>
                    </div>
                </div>
            </form>
        }
    </div>

    <hr class="my-4"/>

    <a class="btn btn-primary"
       asp-page="./Checkout">Checkout</a>
}
else
{
    <div class="d-flex justify-content-center align-items-center">
        <p>Your cart is empty!</p>
    </div>
}