@page
@model IndexModel
@inject IOptions<Urls> options
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MicroShop</h1>
    <p>Learn about <a href="https://github.com/hesamkashefi/MicroShop">MicroShop</a>.</p>
</div>


@if (Model.Products is not null)
{
    <div class="d-flex justify-content-start flex-wrap"
         style="gap:1rem;">
        @foreach (var product in Model.Products.Data)
        {
            <form asp-page="cart" 
                  asp-page-handler="Add"
                  method="post"
                  class="card shadow rounded" style="width: 200px;">

                <img src="@(options.Value.Apigateway + product.ImageUrl?.TrimStart('/'))" 
                class="card-img-top" 
                alt="@product.Name"
                style="aspect-ratio: 1/1">

                <div class="card-body">
                    <p class="card-title">@product.Name</p>
                    <p class="card-text">@product.Price</p>
                </div>

                <input type="hidden" name="ProductId" value="@product.Id">

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <Button class="btn btn-primary" type="submit">Add To Cart</Button>
                }
            </form>
        }
    </div>

    <partial name="_Pagination" for="Products"></partial>
}