@page "{OrderId}"
@model MicroShop.View.Pages.Orders.DetailsModel
@{
}

@if (Model.OrderDetails?.OrderItems is not null && Model.OrderDetails.OrderItems.Length > 0)
{
    <div class="d-flex justify-content-start flex-wrap"
         style="gap:1rem;">
        @foreach (var orderItem in Model.OrderDetails.OrderItems)
        {
            <div class="card shadow rounded" style="width: 200px;">

                <img src="@orderItem.ProductImageUrl"
                     class="card-img-top"
                     alt="@orderItem.ProductName"
                     style="aspect-ratio: 1/1">

                <div class="card-body">
                    <p class="card-title">@orderItem.ProductName</p>
                    <p class="card-text">@orderItem.ProductPrice</p>
                </div>
            </div>
        }
    </div>

    <hr class="my-4" />

    <div>
        <p>Placed At: @Model.OrderDetails.CreatedAt.ToString("G")</p>
        <p>Status: @Model.OrderDetails.Status.ToString()</p>
    </div>

    <hr class="my-4" />

    <div>

        <p>Total Items: @Model.OrderDetails.OrderItems.Select(x => x.Quantity).Sum()</p>
        <p>Total Price: @Model.OrderDetails.OrderItems.Select(x => x.ProductPrice * x.Quantity).Sum()</p>

    </div>

    <hr class="my-4" />

    <div>
        <div>
            <label asp-for="OrderDetails.Address!.Country" class="form-label"></label>
            <input asp-for="OrderDetails.Address!.Country" class="form-control" readonly>
        </div>
        <div>
            <label asp-for="OrderDetails.Address!.City" class="form-label"></label>
            <input asp-for="OrderDetails.Address!.City" class="form-control" readonly>
        </div>
        <div>
            <label asp-for="OrderDetails.Address!.Street" class="form-label"></label>
            <input asp-for="OrderDetails.Address!.Street" class="form-control" readonly>
        </div>
        <div>
            <label asp-for="OrderDetails.Address!.ZipCode" class="form-label"></label>
            <input asp-for="OrderDetails.Address!.ZipCode" class="form-control" readonly>
        </div>
    </div>
}